---
import Link from "../components/Link.astro";
import "../styles/global.css";
const { title = "def-title" } = Astro.props;
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <body>
        <nav>
            <Link href="/">Home</Link>
            <Link href="/test">Test Page</Link>
        </nav>
        <!-- <h1>Astro Test Layout Page</h1> -->
         <main>
            <slot/>
         </main>
    </body>
</html>